html(lang="en-US", ng-app="app")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title SpaceCats
    link(rel="stylesheet" href="css/main.css")
    //- link(rel="stylesheet" href="lib/build.css")

  body
    .container
      div#gameDiv



script(src="lib/build.js")
script(src="js/main.js")

